trunk/demo/ZoosManagementSystem/ZoosManagementSystem.Core/Service References/MockEnvironmentActionsService/MockEnvironmentActionsService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" name="MockEnvironmentActionsService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8081/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8081/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IEnvironmentActionsService_ModifyTemperature_InputMessage">
    <wsdl:part name="parameters" element="tns:ModifyTemperature" />
  </wsdl:message>
  <wsdl:message name="IEnvironmentActionsService_ModifyTemperature_OutputMessage">
    <wsdl:part name="parameters" element="tns:ModifyTemperatureResponse" />
  </wsdl:message>
  <wsdl:message name="IEnvironmentActionsService_ModifyLuminosity_InputMessage">
    <wsdl:part name="parameters" element="tns:ModifyLuminosity" />
  </wsdl:message>
  <wsdl:message name="IEnvironmentActionsService_ModifyLuminosity_OutputMessage">
    <wsdl:part name="parameters" element="tns:ModifyLuminosityResponse" />
  </wsdl:message>
  <wsdl:message name="IEnvironmentActionsService_ModifyHumidity_InputMessage">
    <wsdl:part name="parameters" element="tns:ModifyHumidity" />
  </wsdl:message>
  <wsdl:message name="IEnvironmentActionsService_ModifyHumidity_OutputMessage">
    <wsdl:part name="parameters" element="tns:ModifyHumidityResponse" />
  </wsdl:message>
  <wsdl:message name="IEnvironmentActionsService_FeedAnimal_InputMessage">
    <wsdl:part name="parameters" element="tns:FeedAnimal" />
  </wsdl:message>
  <wsdl:message name="IEnvironmentActionsService_FeedAnimal_OutputMessage">
    <wsdl:part name="parameters" element="tns:FeedAnimalResponse" />
  </wsdl:message>
  <wsdl:portType name="IEnvironmentActionsService">
    <wsdl:operation name="ModifyTemperature">
      <wsdl:input wsaw:Action="http://tempuri.org/IEnvironmentActionsService/ModifyTemperature" message="tns:IEnvironmentActionsService_ModifyTemperature_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEnvironmentActionsService/ModifyTemperatureResponse" message="tns:IEnvironmentActionsService_ModifyTemperature_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ModifyLuminosity">
      <wsdl:input wsaw:Action="http://tempuri.org/IEnvironmentActionsService/ModifyLuminosity" message="tns:IEnvironmentActionsService_ModifyLuminosity_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEnvironmentActionsService/ModifyLuminosityResponse" message="tns:IEnvironmentActionsService_ModifyLuminosity_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ModifyHumidity">
      <wsdl:input wsaw:Action="http://tempuri.org/IEnvironmentActionsService/ModifyHumidity" message="tns:IEnvironmentActionsService_ModifyHumidity_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEnvironmentActionsService/ModifyHumidityResponse" message="tns:IEnvironmentActionsService_ModifyHumidity_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FeedAnimal">
      <wsdl:input wsaw:Action="http://tempuri.org/IEnvironmentActionsService/FeedAnimal" message="tns:IEnvironmentActionsService_FeedAnimal_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEnvironmentActionsService/FeedAnimalResponse" message="tns:IEnvironmentActionsService_FeedAnimal_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IEnvironmentActionsService" type="tns:IEnvironmentActionsService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ModifyTemperature">
      <soap:operation soapAction="http://tempuri.org/IEnvironmentActionsService/ModifyTemperature" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModifyLuminosity">
      <soap:operation soapAction="http://tempuri.org/IEnvironmentActionsService/ModifyLuminosity" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModifyHumidity">
      <soap:operation soapAction="http://tempuri.org/IEnvironmentActionsService/ModifyHumidity" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FeedAnimal">
      <soap:operation soapAction="http://tempuri.org/IEnvironmentActionsService/FeedAnimal" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MockEnvironmentActionsService">
    <wsdl:port name="BasicHttpBinding_IEnvironmentActionsService" binding="tns:BasicHttpBinding_IEnvironmentActionsService">
      <soap:address location="http://localhost:8081/MockEnvironmentActionsService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>