demo/ZoosManagementSystem/ZoosManagementSystem.Core/Service References/MockEnvironmentActionsService/MockEnvironmentActionsService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" name="MockEnvironmentActionsService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8080/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8080/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IEnvironmentActionsService_ModifyTemperature_InputMessage">
    <wsdl:part name="parameters" element="tns:ModifyTemperature" />
  </wsdl:message>
  <wsdl:message name="IEnvironmentActionsService_ModifyTemperature_OutputMessage">
    <wsdl:part name="parameters" element="tns:ModifyTemperatureResponse" />
  </wsdl:message>
  <wsdl:message name="IEnvironmentActionsService_ModifyLuminosity_InputMessage">
    <wsdl:part name="parameters" element="tns:ModifyLuminosity" />
  </wsdl:message>
  <wsdl:message name="IEnvironmentActionsService_ModifyLuminosity_OutputMessage">
    <wsdl:part name="parameters" element="tns:ModifyLuminosityResponse" />
  </wsdl:message>
  <wsdl:message name="IEnvironmentActionsService_StartWatering_InputMessage">
    <wsdl:part name="parameters" element="tns:StartWatering" />
  </wsdl:message>
  <wsdl:message name="IEnvironmentActionsService_StartWatering_OutputMessage">
    <wsdl:part name="parameters" element="tns:StartWateringResponse" />
  </wsdl:message>
  <wsdl:message name="IEnvironmentActionsService_StopWatering_InputMessage">
    <wsdl:part name="parameters" element="tns:StopWatering" />
  </wsdl:message>
  <wsdl:message name="IEnvironmentActionsService_StopWatering_OutputMessage">
    <wsdl:part name="parameters" element="tns:StopWateringResponse" />
  </wsdl:message>
  <wsdl:message name="IEnvironmentActionsService_FeedingAnimal_InputMessage">
    <wsdl:part name="parameters" element="tns:FeedingAnimal" />
  </wsdl:message>
  <wsdl:message name="IEnvironmentActionsService_FeedingAnimal_OutputMessage">
    <wsdl:part name="parameters" element="tns:FeedingAnimalResponse" />
  </wsdl:message>
  <wsdl:portType name="IEnvironmentActionsService">
    <wsdl:operation name="ModifyTemperature">
      <wsdl:input wsaw:Action="http://tempuri.org/IEnvironmentActionsService/ModifyTemperature" message="tns:IEnvironmentActionsService_ModifyTemperature_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEnvironmentActionsService/ModifyTemperatureResponse" message="tns:IEnvironmentActionsService_ModifyTemperature_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ModifyLuminosity">
      <wsdl:input wsaw:Action="http://tempuri.org/IEnvironmentActionsService/ModifyLuminosity" message="tns:IEnvironmentActionsService_ModifyLuminosity_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEnvironmentActionsService/ModifyLuminosityResponse" message="tns:IEnvironmentActionsService_ModifyLuminosity_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="StartWatering">
      <wsdl:input wsaw:Action="http://tempuri.org/IEnvironmentActionsService/StartWatering" message="tns:IEnvironmentActionsService_StartWatering_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEnvironmentActionsService/StartWateringResponse" message="tns:IEnvironmentActionsService_StartWatering_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="StopWatering">
      <wsdl:input wsaw:Action="http://tempuri.org/IEnvironmentActionsService/StopWatering" message="tns:IEnvironmentActionsService_StopWatering_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEnvironmentActionsService/StopWateringResponse" message="tns:IEnvironmentActionsService_StopWatering_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FeedingAnimal">
      <wsdl:input wsaw:Action="http://tempuri.org/IEnvironmentActionsService/FeedingAnimal" message="tns:IEnvironmentActionsService_FeedingAnimal_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEnvironmentActionsService/FeedingAnimalResponse" message="tns:IEnvironmentActionsService_FeedingAnimal_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IEnvironmentActionsService" type="tns:IEnvironmentActionsService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ModifyTemperature">
      <soap:operation soapAction="http://tempuri.org/IEnvironmentActionsService/ModifyTemperature" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModifyLuminosity">
      <soap:operation soapAction="http://tempuri.org/IEnvironmentActionsService/ModifyLuminosity" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StartWatering">
      <soap:operation soapAction="http://tempuri.org/IEnvironmentActionsService/StartWatering" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StopWatering">
      <soap:operation soapAction="http://tempuri.org/IEnvironmentActionsService/StopWatering" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FeedingAnimal">
      <soap:operation soapAction="http://tempuri.org/IEnvironmentActionsService/FeedingAnimal" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MockEnvironmentActionsService">
    <wsdl:port name="BasicHttpBinding_IEnvironmentActionsService" binding="tns:BasicHttpBinding_IEnvironmentActionsService">
      <soap:address location="http://localhost:8080/MockEnvironmentActionsService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>