demo/ZoosManagementSystem/ZoosManagementSystem.Core/Service References/MockEnvironmentConditionsService/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ZoosManagementSystem.Interfaces.DataContracts" xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ZoosManagementSystem.Interfaces.DataContracts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8080/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="EnvironmentConditions">
    <xs:sequence>
      <xs:element minOccurs="0" name="EnvironmentId" type="ser:guid" />
      <xs:element minOccurs="0" name="Humidity" type="xs:float" />
      <xs:element minOccurs="0" name="Luminosity" type="xs:float" />
      <xs:element minOccurs="0" name="MeasureTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Temperature" type="xs:float" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EnvironmentConditions" nillable="true" type="tns:EnvironmentConditions" />
</xs:schema>